QuickSQLite/QuickSQLite.xcodeproj/project.xcworkspace/xcuserdata
QuickSQLite/QuickSQLite.xcodeproj/xcuserdata
QuickSQLite/subprojects/sqlcipher/sqlcipher.xcodeproj/xcuserdata
QuickSQLite/Products
QuickSQLite/subprojects/sqlcipher/build
QuickSQLite/build
